<table class="table table-bordered" id="questionsTable" width="100%" cellspacing="0">
    <th>Questions {{tot_ques}}</th>
    {% for question in allQuestions %}
    <tr>
            <td>{{ question.question_id.qdesc }}</br>
            <ol>
                <li><input type="radio" name={{ question.question_id.qno }}>{{ question.question_id.opt1_desc }}</input></li>
                </br>
                <li><input type="radio" name={{ question.question_id.qno }}>{{ question.question_id.opt2_desc }}</input></li>
                </br>
                <li><input type="radio" name={{ question.question_id.qno }}>{{ question.question_id.opt3_desc }}</input></li>
                </br>
                <li><input type="radio" name={{ question.question_id.qno }}>{{ question.question_id.opt4_desc }}</input></li>
                </br>
            </ol>
        </td>
    </tr>
    {% endfor %}
</table>
<input type="submit" value="Submit" class="btn btn-primary">