{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'Exam/css/jquery.countdown.css' %}">
<script src="{% static 'Exam/js/jquery.min.js' %}"></script>
<script src="{% static 'Exam/js/jquery.plugin.js' %}"></script>
<script src="{% static 'Exam/js/jquery.countdown.js' %}"></script>
<style type="text/css">
div.absolute {
  position: absolute;
  right: 0;
}
#defaultCountdown { width: 150px; height: 30px;}
</style>
<script>
$(function () {
$('#defaultCountdown').countdown({until: {{ exam_dur }} * 60 , description: '', timeSeparator:':',compact:true , layout: '<b>TimeLeft: {hnn}{sep}{mnn}{sep}{snn}</b>', onExpiry: liftOff });
});
function liftOff() {
    var x = document.getElementsByName('exam_submit');
    x[0].submit(); // Form submission
}
document.addEventListener('contextmenu', event => event.preventDefault());
$(document).ready(function() {
          $('body').bind('cut copy', function(e) {
              e.preventDefault();
            });
        });
</script>
<img src= "{% static 'Exam/assets/img/logo.png' %}" class="rounded mx-auto d-block">
<div class="absolute" id="defaultCountdown" ></div>
<br>
<table class="table table-bordered" id="questions" width="100%" cellspacing="0">
        <table class="table table-bordered" width="100%" cellspacing="0">
            <th>Questions : {{ ques_cnt }} </th>
        <th class="text-center">{{ exam_desc }}</th>
        <th class="text-right"> Max-Time in min : {{ exam_dur }}</th>
        </table>
            <form method="POST" action="{% url 'test-complete' %}" name="exam_submit"> {% csrf_token%}
             <tr><td>
             <ol>
             {% for field in object_list %}
                 <br>
                 <li>{{ field.qdesc }} </li> <br>
                        <input type="radio" id="opt1" name={{field.qno}} value="opt1">
                        <label for="opt1"> {{ field.opt1_desc}} </label><br>
                        <input type="radio" id="opt2" name={{field.qno}} value="opt2">
                        <label for="opt2"> {{ field.opt2_desc}} </label><br>
                        <input type="radio" id="opt3" name={{field.qno}} value="opt3">
                        <label for="opt3"> {{ field.opt3_desc}}</label><br>
                        <input type="radio" id="opt4" name={{field.qno}} value="opt4">
                        <label for="opt4"> {{ field.opt4_desc}} </label><br>
             {% endfor %}
             </ol>
             </td></tr>
            <tr><td><table style="margin:auto; width:50%">
                <tr><td align="center">
                <button type="submit" class="save btn btn-default">Submit</button></td></tr>
                </td></tr></table>
            </form>
</table>