{% extends 'Exam/base.html' %}
{% block content %}
<table class="table table-sm table-bordered" id="testsTbl" width="100%" cellspacing="0">
    <tr>
        <th>Test Description</th>
        <th>Test Type</th>
        <th>Total Questions</th>
        <th>Test Duration (Minutes) </th>
        <th>Test Status</th>
        <th>Action)</th>
    </tr>
    {% for tests in all_tests %}
    <tr>
        <td>{{ tests.test_id.test_desc }}</td>
        <td>{{ tests.test_id.test_type }}</td>
        <td>{{ tests.test_id.total_questions }}</td>
        <td>{{ tests.test_id.test_duration }}</td>
        <td>{{ tests.test_id.test_status }}</td>
        {% if tests.test_id.test_status == "Open" %}
        <td>
            <form method="post" action="{% url 'get-questions' test_id=tests.test_id.id ques_cnt=tests.test_id.total_questions %}"> {% csrf_token %}
            <button type="submit" class="btn btn-primary" formtarget="_blank">Start </button>
                </form>
            <!--<a href="{% url 'get-questions' test_id=tests.test_id.id ques_cnt=tests.test_id.total_questions %}">Start</a>-->
        </td>
        {% else %}
        <td>
            <button type="button" class="btn btn-outline-success" disabled >Closed</button>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}